.headline {
    display: flex;
    align-items: center; /* 텍스트를 기준선에 정렬 */
  }
  
.headline h1 {
    margin-right: 2px; /* h1과 p 사이의 간격 설정 */
  }
  
.headline small {
    margin: 0; /* p 요소의 기본 마진을 제거하여 줄바꿈 없이 텍스트를 옆에 배치 */
    font-size: 16px; /* 일반 텍스트의 크기 설정 */
  }