.header {
   text-align: center;
}
.title{
    color:black;
    font-stretch:condensed;
    margin-top: 5vh;
    margin-bottom: 0;
}
p {
    max-width: 600px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 0%;
}
.text1{
    color:darkgray;
    display: block;
}
